<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Cadastro de Livros</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background">

  <ion-item>
    <ion-label>Código</ion-label>
    <ion-input [(ngModel)]="livro.codigo" type="number"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Titulo</ion-label>
    <ion-input [(ngModel)]="livro.titulo"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Logo</ion-label>
    <ion-input [(ngModel)]="livro.logo" placeholder="https://...."></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Descrição</ion-label>
    <ion-input [(ngModel)]="livro.descricao" ></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Autor</ion-label>
    <ion-input [(ngModel)]="livro.autor"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Data de Lançamento</ion-label>
    <ion-datetime [(ngModel)]="livro.data_lancamento"
            displayFormat="DD/MM/YYYY"
            cancelText="Cancelar"
            doneText="Selecionar"></ion-datetime>
  </ion-item>

  <ion-item>
    <ion-label>Editor</ion-label>
    <ion-input [(ngModel)]="livro.editor"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Genero</ion-label>
    <ion-select [(ngModel)]="livro.genero" multiple="false" placeholder="Selecione o gênero">
      <ion-select-option *ngFor="let genero of generos" [value]="genero.valor">
        {{genero.descricao}}
      </ion-select-option>
    </ion-select>
  </ion-item>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="salvar()">
      <ion-icon name="checkmark"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
 